{#
/**
 * @file
 * Theme override to display a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup uikit_themeable
 */
#}
{% set dotnav_attributes = create_attribute() %}
{% set overlay_attributes = create_attribute() %}
{% set panel_attributes = create_attribute() %}
{% set thumbnav_attributes = create_attribute() %}
{% set thumbnav_container_attributes = create_attribute() %}

{% set slideshow_classes = [
    'uk-slideshow',
    settings.navigation.light ? 'uk-light': '',
    settings.navigation.slidenav_outside ? '': 'uk-slideshow-container',
    settings.navigation.slidenav_outside ? '': 'uk-position-relative',
    settings.navigation.slidenav_outside ? '': 'uk-visible-toggle',
  ]
%}

{% set slidenav_classes = [
    'uk-slidenav',
    'uk-position-medium',
    'uk-hidden-hover',
    settings.navigation.slidenav_big ? 'uk-slidenav-large',
  ]
%}

{% set item_classes = [
    settings.content.caption_toggle ? 'uk-transition-toggle',
  ]
%}

{% set overlay_classes = [
    'uk-overlay',
    'uk-text-center',
    settings.content.caption_background,
    settings.content.caption_transition,
    settings.content.caption_position,
    (settings.content.caption_position == 'uk-position-cover') ? 'uk-flex',
    (settings.content.caption_position == 'uk-position-cover') ? 'uk-flex-center',
    (settings.content.caption_position == 'uk-position-cover') ? 'uk-flex-middle',
    settings.content.caption_modifier,
  ]
%}

{% set slidenav_left_classes = [
  settings.navigation.slidenav_outside ? 'uk-position-center-left-out': 'uk-position-center-left',
  ]
%}

{% set slidenav_right_classes = [
  settings.navigation.slidenav_outside ? 'uk-position-center-right-out': 'uk-position-center-right',
  ]
%}

{% set dotnav_classes = [
    'uk-dotnav',
    'uk-slideshow-nav',
    'uk-flex-center',
    'uk-margin',
  ]
%}

{% set thumbnav_classes = [
    'uk-thumbnav',
    'uk-grid',
    'uk-grid-small',
    'uk-flex-center',
  ]
%}

<div{{ attributes }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass('uk-hidden') }}>{{ label }}</div>
  {% endif %}
  <div{{ slideshow_attributes.addClass(slideshow_classes) }}>

  {% if settings.navigation.slidenav_outside %}
    <div class="uk-position-relative">
      <div class="uk-slideshow-container">
  {% endif %}

        <ul {{ list_attributes }}>
          {% for item in items %}
            <li{{ item.attributes.setAttribute('tabindex', '-1').addClass(item_classes) }}>
                {{ item.content }}
                {% if settings.content.legend %}
                  <div{{ overlay_attributes.addClass(overlay_classes) }}>
                    {% if item.content['#item'].title is not empty %}
                      <h3 class="uk-margin-remove">{{ item.content['#item'].title }}</h3>
                    {% endif %}
                    {% if item.content['#item'].alt is not empty %}
                      <p class="uk-margin-remove">{{ item.content['#item'].alt }}</p>
                    {% endif %}
                  </div>
                {% endif %}
            </li>
          {% endfor %}
        </ul>

      {% if settings.navigation.slidenav_outside %}
        </div>
      {% endif %}

      {% if settings.navigation.slidenav %}
        <a{{slidenav_prev_attributes.addClass(slidenav_classes).addClass(slidenav_left_classes)}} href="#"></a>
        <a{{slidenav_next_attributes.addClass(slidenav_classes).addClass(slidenav_right_classes)}} href="#"></a>
      {% endif %}

  {% if settings.navigation.slidenav_outside %}
    </div>
  {% endif %}

  {% if settings.navigation.dotnav %}
    <ul{{ dotnav_attributes.addClass(dotnav_classes) }}>
      {% for item in items %}
        <li uk-slideshow-item="{{ loop.index0 }}"><a href="#"></a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if settings.navigation.thumbnav %}
    <div{{ thumbnav_container_attributes.addClass('uk-margin') }}>
      <ul{{ thumbnav_attributes.setAttribute('data-uk-grid', 'masonry;true').addClass(thumbnav_classes) }}>
        {% for thumbnav in thumbnavs %}
          <li data-uk-slideshow-item="{{ loop.index0 }}"><a href="#">{{ thumbnav.content }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  </div>
</div>
