{#
/**
 * @file
 * Returns HTML for an image using a specific Photoswipe image style.
 *
 * Available variables:
 * - image: image item.
 * - path: The path of the image that should be displayed in Photoswipe.
 * - attributes: Link attributes.
 * - item: An ImageItem object.
 * - display_settings: optional settings.
 *
 * @ingroup themeable
 */
#}
<a href="{{ path }}"{{ attributes }}>
  {{ image }}
  {% if item.alt is not empty and display_settings.content.legend  %}
    <div class="thumbnail-caption">{{ item.alt }}</div>
  {% endif  %}
</a>
