{#
/**
 * @file
 * Returns HTML for an image using a UIkit slidehow image style.
 *
 * Available variables:
 * - image: image item.
 * - uri : image uri
 * - attributes: Link attributes.
 * - item: An ImageItem object.
 * - display_settings: optional image styles.
 *
 * @ingroup themeable
 */
#}
{% if display_settings.lightbox.enabled == TRUE %}
  <a href="{{ path }}"{{ attributes }}>
    {{ image }}
  </a>
{% else  %}
  {{ image }}
{% endif  %}
