{#
/**
 * @file
 * Returns HTML for an image using a UIkit slidehow image style.
 *
 * Available variables:
 * - image: image item.
 * - uri : image uri
 * - attributes: Link attributes.
 * - item: An ImageItem object.
 * - display_settings: optional image styles.
 *
 * @ingroup themeable
 */
#}
{% if video %}
  <video src="{{ video }}" autoplay loop muted playsinline uk-cover></video>
{% elseif remote %}
  <iframe src="https://www.youtube-nocookie.com/embed/{{ remote }}?autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent&amp;playsinline=1" width="1920" height="1080" frameborder="0" allowfullscreen uk-cover></iframe>
{% else  %}
  {% if display_settings.lightbox.enabled == TRUE %}
    <a href="{{ path }}"{{ attributes }}>
      {{ image }}
    </a>
  {% else  %}
    {{ image }}
  {% endif  %}
{% endif  %}
